@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(251, 248, 245);

  font-family:Georgia, 'Times New Roman', Times, serif;

  overflow: hidden;

}

@media (max-width: 800px) {
  body {
    overflow: visible;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "Instrument Serif";
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/InstrumentSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Instrument Serif";
  font-style: italic;
  font-weight: 400;
  src: url('../public/fonts/InstrumentSerif-Italic.ttf') format('truetype');
}